@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,400italic,700,700italic|Droid+Serif:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* =============================================================================
   container
   ========================================================================== */

.container-narrow {
  margin: 0 auto;
  max-width:970px;
}

.container-narrow > footer {
  margin-top: 20px;
  text-align: center;
}
.container-narrow > footer p {
  background-color: rgba(245,245,245,0.75);
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* =============================================================================
   Body and structure
   ========================================================================== */

body {
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: 0 40px;
  padding-bottom: 70px;
}

.content {
  padding: 20px;
  margin: 20px -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.75);
  -moz-box-shadow: 0 2px 102px rgba(0,0,0,.75);
  box-shadow: 0 2px 10px rgba(0,0,0,.75);
}

#sidebar {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  font-size: 0.9em;
}

/* =============================================================================
   page, post
   ========================================================================== */

.post{
  font-size: 1.2em;
}

.page{
  font-size: 16px;
}

.page, .post{
  line-height: 1.5em;
  font-family: 'Open Sans',"Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif;
}

.page .more {
  text-pull: right;
}

.post .date {
  margin-bottom:20px;
  font-weight:bold;
}

.mypage {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

/* =============================================================================
   navbar
   ========================================================================== */

.navbar-brand {
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar-brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* =============================================================================
   pagination
   ========================================================================== */

.pagination {
  margin: 10px 0;
}

.pagination a{
  color:#555;  
}


/* =============================================================================
   List
   ========================================================================== */

li i {
  margin-right: 5px;
  margin-left: 5px;  
}

.listing-item {
  line-height: 24px;
}

/* =============================================================================
   widget and tag box
   ========================================================================== */

.meta-widget {
  margin: 10px 0;
}

.meta-widget a{
  color:#555;
}

.tag_box {
  margin:0;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box li i {
  opacity:0.9;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 2px 6px;
  margin: 2px;
  background: #e5e5e5;
  color:#555;
  border-radius: 3px;
  text-decoration:none;
  border:1px dashed #bbb;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a:hover {
  background-color:#397bdd;
  color:#FFF;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.widget {
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0; 
}

.tagcloud .entry{
  width: 100%;  
}

.archive-title:before {
  font-family: FontAwesome;
  content: '\f187  ';
}

.archive-title-tag:before {
  font-family: FontAwesome;
  content: '\f02c  ';
}

.archive-title-category:before {
  font-family: FontAwesome;
  content: '\f07b  ';
}

/* =============================================================================
   hyper links
   ========================================================================== */

a{color:#1863a1}
a:focus{color:#0181eb}
a:hover{color:#0181eb}
a:active{color:#01579f}

a.label-anchor {
  position: relative;
  display: block;
  text-align: right;
  width: 200px;
  left: -210px;
  font-family: 'PT Sans', sans-serif;
}
a.label-anchor:target span {
  background-color: #b94a48;
}
a.label-anchor:hover {
  text-decoration: none;
}
a.label-anchor span {
  font-weight: bold;
  line-height: 0px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  background-color: #666;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.inline-ref {
  border-bottom: dotted 1px #333;
  color: black;
}
a.inline-ref:hover {
  text-decoration: none;
  border-bottom: solid 1px #000;
}

/* =============================================================================
  blockquote
   ========================================================================== */

blockquote {
  border-left:5px solid #cccccc;
  font-size: 1em;
  background-color: #fff;
}

blockquote p, blockquote ol, blockquote ul, blockquote li, .slogan{
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, "Hiragino Sans GB", '楷体', 'STKaiti';
}

/* =============================================================================
   img
   ========================================================================== */

img {
  max-width: 97.5%;
  margin: 15px auto;
  display: block;
  width: auto;
  height: auto;
}

/* =============================================================================
   slogan
   ========================================================================== */

.slogan .icon-heart{
  opacity: 0.5;
  margin-right: 5px;
  margin-top: 3px;
}

.slogan .icon-heart:hover{
  opacity: 1;
}

.slogan{
  font-size: 1.2em;
  color: #888;  
  display:block;
  margin-bottom: 1em;
}

/* =============================================================================
   scroll to top
   ========================================================================== */

#gotop{ 
  display:block;  
  width:36px; 
  height:36px;
  position:fixed;  
  bottom:40px;  
  right:30px; 
  border-radius:7px;
  text-decoration:none;  
  display:none;  
  background-color:#999999;     
}
#gotop span{ 
  display:block; 
  color:#dddddd; 
} 
#gotop span:hover{ 
  color:#cccccc; 
} 
#gotop span{ 
  font-size:24px; 
  text-align:center; 
}

/* =============================================================================
   Headers
   ========================================================================== */

header h1{
  font-weight:normal;
  line-height:1.2em;
  margin-bottom:0.6667em;
}

h1{
  font-size:2.6em;
  line-height:1.2em;
  margin-bottom:0.6667em;
}

h1,h2,h3,h4,h5,h6{
  text-rendering:optimizelegibility;
  font-weight:bold;
  font-family: 'Open Sans', "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif;
}

h2{
  margin: 0.83em 0;
  color: green;
  padding-top: 40px;
  margin-top: -25px;
}

h3 {
  color: #9C4C17;
}

h4 {
  color: #B94A48;
}

.page-header {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  /* background-color: #f5f5f5; */
  padding: 10px 20px 0px 20px;
  margin: -20px -20px 20px;
  background: #fff;
  /*background: -moz-linear-gradient(top, #222, #000 50%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#222), to(#000)); */
  color: #000;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;  
}

/* =============================================================================
   entry
   ========================================================================== */

.page .entry{
  padding-top: 10px 0;
}

.page .entry h2{
  display:block; overflow: hidden; width: 0; height: 0;
  margin: -20px 0;
}

.page .entry h3{
  display:block; overflow: hidden; width: 0; height: 0;
}

.page .entry .col-md-8{
  margin: 10px 0;
}

.page h3.title {
  position:relative;
  padding: 2px 5px 5px 5px;
  border-top:3px solid #ccc;
  font-size: 1.9em;
  font-weight: normal;
  font-family: 'PT Sans Narrow', '雅黑', '文泉驿微米黑', '黑体', sans-serif;
  background-color: #e5e5e5;
}

.page h3.title a {
  color: black;
}

.page h3.title span.date {
  position:absolute;
  right:5px;
  font-size:0.7em;
  color: #777;
}


/* =============================================================================
   Archives list
   ========================================================================== */

.archive-ul > .caret {
  vertical-align: 7px;
  margin-left: 5px;
  opacity: 0.3;
}

.archive-ul:hover > .caret {
  opacity: 1;
}

/* =============================================================================
   ToC
   ========================================================================== */

.toc{
  font-size:10pt;
  width:auto;
  padding:10px;
  background: #eee;
  border:solid 1px #ccc;
}
 
.toc .toc-title{
  font-weight:bold;
  font-size:125%
}

.toc-article{
  list-style:circle;
  line-height: 1em;
  margin-bottom: 0px;
  padding: 10px 20px;
}

.toc-article li{
  margin-left:5px !important;
  padding:0 !important  
}

.toc-article ol{
  list-style:square;
  padding: 5px 20px;
}

.toc-article ol ol{
  list-style:circle;
  padding: 5px 20px;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

th {
  padding: 12px 10px 12px 10px;
  border-bottom: 1px dashed #4088b8;
}

td {
  padding: 7px 10px 7px 10px;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/**
 * 
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

