<p><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
      Made With <a href="#" target="_blank"> ❤ </a> by <a href="http://film.bf.co.id/" target="_blank">Me</a>.   
</p>